BasedOnStyle: LLVM
BreakBeforeBinaryOperators: All
# BreakConstructorInitializersStyle: BeforeColon
ConstructorInitializerAllOnOneLineOrOnePerLine: true
IndentWidth: 4
NamespaceIndentation: Inner

# BreakBeforeBraces: Allman
#BraceWrapping:
#      MultiLine

# Long functions have one arg per line
BinPackParameters: true

# Turn this one to indent function defs that are > 1 line
# IndentWrappedFunctionNames: true
ContinuationIndentWidth: 8
# ConstructorInitializerIndentWidth: 0
